<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://cdn.tailwindcss.com"></script>
<style>
    .login{
        min-height: calc(100vh);
    }
</style>
<body>
 
    <section class="login flex justify-center pt-24 bg-rose-100 min-h-screen:">
        <div class="w-full max-w-xs">
    
            <form action='/login' method='POST' class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
             
             <!-- <% if(messages.error){ %>
              <span class="text-red-600 font-bold ">Wrong UserName or Password !!</span>
              <% } %> -->
              {% with messages = get_flashed_messages(with_categories=true) %}
                   {% if messages %}
                          <ul class=flashes>
                                    {% for category, message in messages %}
                                        <li class="{{ category }}  text-red-600  shadow-sm  font-sans font-bold flex justify-center" >{{ message }}</li>
                                    {% endfor %}
                            </ul>
                  {% endif %}
            {% endwith %}
    
              
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                  Username
                </label>
                <input name='email' class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username">
              </div>
              <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                  Password
                </label>
                <input name="password" class="shadow appearance-none border  rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************">
               
              </div>
              <div class="flex items-center justify-between">
                <button type='submit 'class="bg-orange-400 hover:bg-orange-500 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline">
                  Login
                </button>
                <a class="inline-block align-baseline font-bold text-sm text-orange-300 hover:text-orange-500" href="/register">
                  Don't have a Account?
                </a>
              </div>
            </form>
            <p class="text-center text-gray-500 text-xs">
              &copy;2023 Vivek IITM  All rights reserved..
            </p>
          </div>
    </section>
</body>
</html>